
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}
.menu {
  gap: 2.5rem;
}
.menu-links:hover {
  color: rgb(101, 169, 223);
}
.btn-1 {
  background-color: rgb(101, 169, 223);
  color: black;
}
.btn-1:hover {
  background-color: rgb(93, 137, 173);
}
.landing {
  opacity: 0.6;
}
.sec-newProjects {
  margin-top: 5rem;
}
.about-item:hover{
  box-shadow: 2px 2px 2px 2px rgb(101, 169, 223);
  cursor: pointer;
}
.about-iconContainer {
  max-width: 100px;
  width: 100%;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(101, 169, 223);
}
.about-icon {
  max-width: 50px;
  width: 100%;
  height: 50px;
}
.about-list {
  margin-left: 4px;
}
.cards {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
}
.card-item:hover{
  border:2px solid rgb(101, 169, 223);
  /* transform: scale(1.004); */
}
.card-item,
.card-container {
  width: 25rem;
}
.card-read {
  background-color: rgba(247, 245, 244, 0.7);
  cursor: pointer;
  border-radius: 50px;
}
.card-container {
  overflow: hidden;
}
.card-img {
  height: 20rem;
}
.card-container .card-img {
  transition: 0.5s all ease-in-out;
}
.card-container:hover img {
  transform: scale(1.2);
}
.home-contant, .feature{
  background-color: rgb(101, 169, 223);
}
/* detail project */
.image {
  height: 40rem;
  margin: 25px auto;
  border-radius: 20px;
}
.info-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.links{
  margin-bottom: 10px;
}
.links .active{
  background-color: rgb(23, 184, 233);
  border: none;
  color: white;
}
/* mission and vission */
.m-image{
  max-width: 600px;
  width: 100%;
}
.m-title{
  margin-bottom: 20px;
}
.bold{
  font-weight: bolder;
}
.justify{
  text-align: justify;
}
.scroll-image{
  transition: transform 0.3s ease; 
}
.card-space:hover .card {
  transform: rotateY(-180deg);
}

.card {
  border-radius: 10px;
  height: 300px;
  margin: 10px;
  width: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.face {
  border-radius: 10px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
  background-color: rgb(101, 169, 223);
  padding: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
}
.face.front {
  text-align: center;
  z-index: 20;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateY(0deg);
}
.face.back {
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
/* agent */
.agent-img {
  height: 30rem;
}
.user-container {
  padding: 10px;
  margin-top: 20px;
}
.user-img {
  height: 100%;
  width: 100%;
}
.user-bio{
  margin-top: 20px;
}

/* seravices
 */

.search-bar {
  max-width: 800px;
  width: 100%;
  height: 70px;
  margin-right: 20px;
  padding: 0 10px;
}
.search-bar:focus {
  outline: none;
}
.search-bar::placeholder {
  font-size: 24px;
  color: #000;
}
.filter {
  max-width: 800px;
  width: 100%;
  margin-top: 10px;
}
.btn-filter {
  max-width: 150px;
  width: 100%;
  color: #000;
  background-color: rgba(247, 245, 244, 0.7);
  cursor: pointer;
  border-radius: 50px;
}
.active {
  background-color: rgb(101, 169, 223);
  color: black;
}

/* footer */
footer {
  margin-top: 60px;
  padding: 40px 0 40px 0;
}
/* notfound */
.notFound-text{
  font-size: 8rem;
}
.btn-notFound{
  background-color: rgb(101, 169, 223);
  padding: 10px;
  border-radius: 50px;
}
/* responsive */
@media screen and (max-width: 1300px) {
  .card-item,
.card-container {
  width: 22rem;
}
}
@media screen and (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-item,
.card-container {
  width: 25rem;
}
}
@media screen and (max-width: 992px) {
  .card-item {
    width: 20rem;
  }
  .card-item,
.card-container {
  width: 20rem;
}
}
@media screen and (max-width: 576px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .footer-container{
    flex-direction: column;
  }
}
=======

 
/* mah */ 
.hy { 
  margin: 170px; 
  margin-top: 70px; 
} 
 
.about-us-card { 
  background-color: black; 
  color: white; 
  text-align: center; 
  padding: 20px; 
} 
 
.card-text { 
  /* padding: 20px; */ 
  margin: 30px; 
} 
 
 
.content { 
  margin: 200px; 
} 
 
.paragraph { 
  /* Add your styles for each <p> element here */ 
  margin-left: 70px; 
} 
 
.paragraph1 { 
  /* Add your styles for each <p> element here */ 
  margin-left: 70px; 
  margin-top: 40px; 
} 
 
.content6 { 
  text-align: center; 
  margin-top: 30px; 

} 
 
.list { 
  list-style-type: disc; 
  margin-left: 70px; 
  margin-top: 30px; 
} 
 
.py { 
  margin-right: 50px; 
} 
 
.content1 { 
  margin-top: 75px; 
} 
 
.card-item1 { 
  width: 20rem; 
  margin: 10px; 
} 
 
.line { 
  height: 1px; 
  background-color: black; 
  margin: 10px 0; 
} 
 
.centered { 
  text-align: center; 
} 
 
.custom-card { 
  margin-top: 120px; 
  /* margin: 120px; */ 
} 
 
.custom-card .card-body { 
  margin: 10px; 
} 
 
.custom-card p { 
  margin-top: 50px; 
  margin-left: 50px; 
} 
 
.custom-card img { 
  /* max-width: 100%; */ 
  /* height: auto; */ 
  margin-top: 10px; 
  margin-left: 300px; 
} 
 
.container3 { 
  text-align: center; 
  margin-top: 20px; 
} 
 
.para { 
  margin-top: 10px; 
} 
 
.par { 
  margin-top: 0px; 
} 
.one { 
  margin-left: 50px; 
  margin-right: 50px; 
} 
 
.container4 { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;  
} 
 
.container4 h1 { 
  text-align: center; 
} 
 
.container4 ul li { 
  margin-bottom: 10px;  
} 
 
.bg-blue { 
  background-color: rgb(23, 184, 233); 
} 
 
.a{ 
  margin-bottom: 100px; 
 
} 
 
 
.contact-card { 
  border: 1px solid #daceda;  
  border-radius: 8px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);  
  padding: 20px;  
  margin-bottom: 20px;  
} 
 
.contact-card h5 { 
  color: #333;  
  font-weight: bold;  
 
} 
 
.contact-card button { 
  margin-top: 15px;  
} 
 
.contact-card p { 
  margin-bottom: 5px;  
  font-size: 16px;  
} 
 
.contact-card p:last-child { 
  margin-bottom: 0; 
} 
 
.form-control { 
  /* border-width: 1px; */ 
  border-style: solid;  
  border-color: #999595; /* Customize the border color */ 
} 
 
/* .form-label { 
  font-weight: bold; 
} */

.feature {
  background-color: #080808; /* Red background color */
  color: #ffffff; /* White text color */
  /* padding: 10px 20px;  */
  border-radius: 5px; /* Rounded corners */
  margin-top: 10px;  
  margin-right: 10px;  

}
.icons{
  margin-top: 200px;  
}



.content {
  margin: 200px;
}

.paragraph {
  /* Add your styles for each <p> element here */
  margin-left: 70px;
}





.centered {
  text-align: center; /* Center align the text */
  margin-top: 30px; /* Add top margin */
}

.centered span {
  display: block; /* Display the span as a block element */
  color: rgb(26, 26, 27); /* Set the text color */
  font-weight: bold; /* Make the text bold */

}

.centered span::before, .centered span::after {

  content: ""; /* Clear the default content */
  display: inline-block;
  width: 100%; /* Make the line span the full width */
  border-bottom: 2px solid black; /* Add a solid line below the text */
  margin: 0 10px; /* Adjust the spacing */
}
.list a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: list-item;
  list-style-type: disc; /* You can change this to match your list style */
  margin-left: 20px; /* Adjust this value as needed */
  color: rgb(86, 153, 192); /* Set link color to blue */
  transition: color 0.3s; /* Smooth transition for color change */

}

.list a:hover {
  color: darkblue; /* Change link color on hover */
}


.card-item1 {
  transition: box-shadow 0.3s;
}

.card-item1:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Add shadow on hover */
}

.centered-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.list2 {
  text-align: center; /* Center the text within the list items */
}


.container4 ul li {
  margin-bottom: 10px;
}

