* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
li{
  list-style: none;
}
.nav-section{
  position: sticky;
  top: 0;
}
.menu {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.menu-links:hover {
  color: rgb(101, 169, 223);
}
.btn-1{
  background-color: rgb(101, 169, 223);
  color: black;
}
.btn-1:hover {
  background-color: rgb(93, 137, 173);
}
/* .btn-2{
  background-color: white;
  border: 1px rgb(101, 169, 223);
} */
button.active{
  background-color: rgb(101, 169, 223);
  color: black;
}
.new-project {
  height: 75px;
}
.cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
}
.card-item {
  width: 25rem;
}
.card-img {
  width: 100%;
  height: 20rem;
  cursor: pointer;
}
/* pagination */
.pagination-custom .page-item {
  width: 50px;
}
.pagination-custom .page-item.active .page-link {
  background-color: rgb(93, 137, 173);
  color: white;
}
.feature{
  background-color: rgb(93, 137, 173);
}
/* detail project */
.image{
  width: 90%;
  height:40rem;
  margin: 25px auto;
  border-radius: 20px;
}
.info-list{
  display: grid;
  grid-template-columns: repeat(3,auto);
}
/* footer */
footer{
  margin-top: 60px;
  padding: 40px 0 40px 0;
}
/* responsive */
@media screen and (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .card-item {
    width: 20rem;
  }
}
@media screen and (max-width: 576px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
